NEXT_PUBLIC_API_URL=http://localhost:8081
NEXT_PUBLIC_WS_URL=ws://localhost:8081
NEXT_PUBLIC_SOCIAL_URL=http://localhost:8082
NEXT_PUBLIC_REPORTS_URL=http://localhost:8083
NEXT_PUBLIC_COIN_URL=http://localhost:8084
NEXT_PUBLIC_AI_URL=http://localhost:8085
NEXT_PUBLIC_VIDEO_AI_URL=http://localhost:8086